# vim: set ft=bash :

alias dm="yadm "

alias s="sudo -E "

alias pkgupd="yay -Syu "
alias pkgi="yay -S "
alias pkgrm="yay -Rns "
alias pkgcleanup="yay -Qdtq | yay -Rns - "
alias pkgcleancache="sudo pacman -Scc "
alias pacmanfix="sudo rm /var/lib/pacman/db.lck "

alias ls="eza -1 --group-directories-first --icons auto "
alias lsl="ls -l --no-permissions --no-user --no-time "
alias tree="ls --tree "
alias mkdir="mkdir -p "

alias cp="cp -i "                          # confirm before overwriting something
alias df="df -h "                          # human-readable sizes
alias free="free -m"                      # show sizes in MB
#alias more=less

alias ed="nvim "
alias sued="sudoedit "
# alias ed="emacsclient -t "
# alias ed="emacs -nw "
alias emacs-doom="~/.config/emacs/bin/doom "

alias clang="LANG=Compiler clang $CFLAGS $LDFLAGS "
alias clang-asan="LANG=Compiler clang -g -Og -O1 -fsanitize=address -fno-omit-frame-pointer "
alias gcc="LANG=Compiler gcc $CFLAGS $LDFLAGS "
alias gcc-asan="LANG=Compiler gcc -g -Og -O1 -fsanitize=address -fno-omit-frame-pointer "
alias tcc="LANG=Compiler tcc "

alias nimony="/opt/nimony/bin/nimony "

# alias tclsh="rlwrap -r -c tclsh "
# alias sbcl="rlwrap -r -c sbcl "
# alias sbcl-swank="sbcl --eval '(ql:quickload :swank)'  --eval '(swank:create-server :dont-close t)'"


export TIME_STYLE=long-iso

export GDBHISTFILE="$HOME/.gdb_history"

export PATH="$HOME/.nimble/bin:$PATH"
export PATH="$HOME/.cargo/bin:$PATH"

export PATH="$HOME/.local/bin:$PATH"
export C_INCLUDE_PATH="$HOME/.local/include:$C_INCLUDE_PATH"
export LIBRARY_PATH="$HOME/.local/lib:$LIBRARY_PATH"
export LD_LIBRARY_PATH="$HOME/.local/lib:$LD_LIBRARY_PATH"

export PATH="$PATH:."
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:."
